{{!
    This file is part the Local Kopere Dashboard for Moodle
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}

{{!
    @template local_kopere_mobile/config_test

    Example context (json):
    {
      "is_moodle_cookie_secure": true,
      "allowframembedding": true,
      "enablemobilewebservice": true,
      "external_services_moodle_mobile_app": true,
      "userapp": "aaa bbb",
      "userapp_url": "http://ssss"
    }
}}
<div style='padding: 0 0 20px 19px'>
    <h3>{{#str}}config_test_title,local_kopere_mobile{{/str}}</h3>
    {{^is_moodle_cookie_secure}}
        <div>
            <strong>is_moodle_cookie_secure</strong>:
            <a style="color:#E91E63"
               href="{{{config.wwwroot}}}/admin/search.php?query=cookiesecure"
               target="_blank">{{#str}}config_test_correct,local_kopere_mobile{{/str}}</a>
        </div>
    {{/is_moodle_cookie_secure}}
    {{^allowframembedding}}
        <div>
            <strong>allowframembedding</strong>:
            <a style="color:#E91E63"
               href="{{{config.wwwroot}}}/admin/search.php?query=allowframembedding"
               target="_blank">{{#str}}config_test_correct,local_kopere_mobile{{/str}}</a>
        </div>
    {{/allowframembedding}}
    {{^enablemobilewebservice}}
        <div>
            <strong>enablemobilewebservice</strong>:
            <a style="color:#E91E63"
               href="{{{config.wwwroot}}}/admin/search.php?query=allowframembedding"
               target="_blank">{{#str}}config_test_correct,local_kopere_mobile{{/str}}</a>
        </div>
    {{/enablemobilewebservice}}
    {{^external_services_moodle_mobile_app}}
        <div>
            <strong>external_services -> moodle_mobile_app</strong>:
            <a style="color:#E91E63"
               href="{{{config.wwwroot}}}/admin/settings.php?section=externalservices"
               target="_blank">{{#str}}config_test_correct,local_kopere_mobile{{/str}}</a>
        </div>
    {{/external_services_moodle_mobile_app}}

    {{#userapp}}
        <div>
            <strong>user-validate_login</strong>:
            <a style='color:#E91E63'
               href='{{{userapp_url}}}'
               target='_blank'>{{{userapp}}}</a>
        </div>
    {{/userapp}}
</div>
